body{
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("./imagens/fundo.jpg");
}

a{
    text-decoration: none;
}

.body-start{
    font-family: 'M PLUS 1', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Signika', sans-serif;
    margin: 0px;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.body-historia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'M PLUS 1', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Signika', sans-serif;
    font-size: 100px;
    color: black;
    margin: 100px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-personagem {
    font-size: 55px;
    margin-left: -14px;
    padding: 50%;
    width: 50px;
    align-items: center;
}

.titulo-personagens{
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.p1 {
    color: white;
}

.p2 {
    color: white;
}

.p3 {
    color: white;
}

.personagens {
    margin-top: -20px;
    margin: 0px;
    padding: 0%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.rick {
    font-family: 'M PLUS 1', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Signika', sans-serif;
    background-color: black;
    font-size: 20px;
}

.morty {
    font-family: 'M PLUS 1', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Signika', sans-serif;
    font-size: 20px;
    background-color: black;
}

.jerry {
    font-family: 'M PLUS 1', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Signika', sans-serif;
    font-size: 20px;
    background-color: black;
}

.rick:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.morty:hover {
    transform: scale(1.5, 1.5);
    transition: all 0.5s;
}

.jerry:hover {
    transform: scale(1.5, 1.5);
    transition: all 0.5s;
}

.start:hover{
    transform: scale(1.1);
    transition: all 0.5s;
    color: rgb(230, 13, 13);
}

.start{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15% ;
}

.imgrick:hover {
    transform: scale(1.5, 1.5);
}

.imgmorty:hover {
    transform: scale(1.5, 1.5);
}

.imgjerry:hover {
    transform: scale(1.5, 1.5);
}

.imgrick{
    padding: 0px;
    margin: 0px;
    margin-left: -40px;
    width: 200px;
}

.imgmorty{
    padding: 0px;
    margin: 0px;
    width: 250px;
    margin-left: -220px;
}

.imgjerry{
    padding: 0;
    margin: 0;
    width: 270px;
    margin-left: -290px;
}

.nomes{
    font-family: 'M PLUS 1', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Signika', sans-serif;
    font-size: 70px;
    color: black;
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    margin: 0px;
    margin-top: -50px;
}

button:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

button{
    font-size:15px;
    font-family:Arial;
    width:140px;
    height:50px;
    border-width:1px;
    color:black;
    border-color:#333333;
    font-weight:bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow:inset 0px 1px 0px 0px grey;
    text-shadow:inset 0px 1px 0px black;
    background:linear-gradient(grey, black);
    margin-top: 50px ;
    cursor: pointer;   
}

.corbotao{
    color: rgb(20, 219, 20);
    font-size: 20px;
}

.cor-responder{
    color: rgb(20, 219, 20);
}

.introducao{
    font-family: 'M PLUS 1', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Signika', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:black;
    border: solid black 1px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.700);
    font-weight: 400;
    font-size: 2.0rem;
    padding: -10px;
    text-align: center;
    gap: 0.3em;
}

.gameover{
    color: red;
    margin-top: 15%;
    font-size: 150px;
    text-align: center;
}

.cor-gameover{
    color: white;
}

.botao-gameover{
    display: flex;
    justify-content: center;
}

.vocevenceu{
    color: purple;
    margin-top: 15%;
    font-size: 150px;
}

.botao-vocevenceu{
    display: flex;
    justify-content: center;
}

.cor-vocevenceu{
    color: white;
}

.botao-jogar{
    display: flex;
    justify-content: center;
}

.cor-jogar{
    color: white;
}

@media(max-width:480px){
    h1{
      font-size: 50px;
      margin-top: 0%;  
    }
    body{
        background-size: auto;
    }
    .body-start{
        margin-top: 50%;
    }
    .start{
       font-size: 70px;
    }
    .nomejogo{
        text-align: center;
    }
    .personagens{
        display: flex;
        flex-direction: column;
        gap: 75px;
    }

    .titulo-personagens{
        text-align: center;
        font-size: 50px;
    }

    .imgrick{
        margin-top: -40px;
        width: 150px;
        margin-left: -60px;
    }
    .imgmorty{
        margin-top: -100px;
        margin-left: -110px;
    }
    .imgjerry{
        margin-top: -80px;
        margin-left: -140px;
    }
    .nomes{
        display: none;
    }
}

@media(max-width:768px){
    h1{
        text-align: center;
    }
    body{
        background-size: auto;
    }
    .start{
        margin-top: 50%;
    }
    
}

@media(max-width:1024px){
    h1{
        text-align: center;
    }
    body{
        background-size: auto;
    }

    .start{
        margin-top: 50%;
    }
    
}

@media(max-width:1200px){
    body{
        background-size: auto;
    }

    .start{
        margin: 30%;
    }
}